form {
    width: 67%;
    height: 9.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(257, 27%, 26%);
    border-radius: 5px;
    padding: 0;
    background-image: url('../../../images/bg-shorten-desktop.svg');
    left: 18%;
    top: 87%;
    position: absolute;
    z-index: 2;
}

.form-container {
    display: flex;
    flex-direction: row;
}


.link {
    width: 45.6rem;
    margin: 8px 0px;
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    position: relative;
}

[type="search"]::-webkit-search-cancel-button:hover {
    cursor: pointer;
}

.link::placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

.link.error {
    outline-color: hsl(0, 100%, 67%);
}

.link.error::placeholder {
    color: hsla(0, 100%, 66%, 0.5);
    font-weight: 500;
}

.shorten {
    width: 9.3rem;
    margin-left: 15px;
    background-color: hsl(180, 66%, 49%);
    margin-top: 10px;
    font-weight: 700;
    color: white;
    padding: 0;
    font-size: 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;

}

.shorten:hover {
    background-color: hsl(180, 53%, 68%);
}

.error-message {
    color: hsl(0, 100%, 67%);
    font-size: 0.8rem;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    bottom: 25px;
    left: 40px;
    width: 100%;
    position: absolute;
}

.urls-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 20px;
    z-index: 11;
    top: 107%;
    left: 0%;

}

.shortened-urls {
    width: 67%;
    background-color: #fff;
    border-radius: 0.3rem;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    z-index: 11;
    margin-bottom: 20px;
}

.shortened-urls>p {
    font-size: 0.8rem;
    color: black;
}

.shortened-urls h2 {
    margin-top: 0;
}

.shortened-urls ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}


.shortened-url-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    color: hsl(180, 66%, 49%);
}


.copy-icon {
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 0;
    font-size: 6.2rem;
    cursor: pointer;
}

.copy-btn {
    width: 5.6rem;
    padding: 8px 8px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: hsl(180, 66%, 49%);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 0.1rem;
}

.copy-btn:hover {
    background-color: hsl(180, 53%, 68%);
    cursor: pointer;
}

.close {
    margin-left: 0px;
    cursor: pointer;
    color: gray;
}

.close:hover {
    color: red;
}





@media screen and (max-width: 1100px) {
    form {
        width: 85%;
        left: 8%;
        top: 102%;
        background-image: url('../../../images/bg-shorten-mobile.svg');
        background-position: right 0% top 0%;
        background-repeat: no-repeat;
        background-size: 75% 80%;
        border-radius: 0.6rem;
        padding-top: 17px;
        padding-bottom: 17px;
        height: auto;
    }

    .form-container {
        flex-direction: column;
        align-items: center;
        width: 87%;
    }

    .link {
        width: 100%;
        order: 1;
        position: unset;
    }

    .error-message {
        order: 2;
        position: unset;
    }

    .shorten {
        width: 100%;
        padding: 12px 0;
        margin-top: 5px;
        margin-left: 0;
        font-weight: 850;
        font-size: 1.1rem;
        flex-wrap: wrap;
        order: 3;
    }

    .urls-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 160px;
        text-align: left;
    }


    .shortened-urls {
        width: 85%;
        left: 0%;
        flex-direction: column;
        position: relative;

    }

    .original {
        width: 100%;
        padding-bottom: 10px;
        margin-top: 15px;
        word-break: break-word;
        border-bottom: solid 1px rgb(207, 206, 206);
    }

    .shortened-urls ul {
        margin: 10px auto;
        width: 100%;
    }

    .shortened-url-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .close {
        position: absolute;
        top: 8px;
        right: 7px;
        font-size: 12px;
    }

    .copy-btn {
        margin-top: 10px;
        width: 100%;
        align-self: center;
        font-weight: 700;
        font-size: medium;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1200px) {
    form {
        left: 8%;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1301px) {
    form {
        left: 10%;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1450px) {
    form {
        top: 60%;
        width: 85%;
        max-width: 58.4rem;
    }
}