.header {
    width: 100%;
    height: 6.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.6rem;
}

.header > article {
    display: flex;
    flex-grow: 1;
    
}

.logo {
    height: 2.8rem;
    width: 6.8rem;
    padding: 12px 0px 0px 5px;
    margin-left: 140px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;

}

.nav-bar > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
}

.nav-bar > ul > li {
    padding: 5px 10px;
    cursor: pointer;
}

.nav-bar > ul > li:hover {
color: hsl(257, 27%, 26%);

}

.buttons{
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;

}

.btn-left {
    background: transparent;
    color: hsl(257, 7%, 63%);
    border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-weight: 700;

}

.btn-right {
    background-color: hsl(180, 66%, 49%);
    color: white;
    font-family: "Poppins", sans-serif;
    border: none;
    width: 5.6rem;
    border-radius: 1.2rem;
    padding: 5px 10px;
    margin-left: 30px;
    cursor: pointer;
    font-weight: 700;
}

.btn-right:hover{
    background-color: hsl(180, 53%, 68%);

}

.burger{
    display: none;
    width: 3.1rem;
    margin-right: 30px;
    cursor: pointer;
    color: hsl(180, 66%, 49%)
}



@media screen and (max-width:900px){
    .header {
        width: 100%;
        position: relative;

    }

    .logo{
        margin-left: 20px;
    }

    .nav-bar > img {
        margin-left: 10px;
    }


    .nav-bar  {
        display: none;
        position: absolute;
        background-color: hsl(257, 27%, 26%);
        width: 85%;
        padding-top: 20px;
        justify-content: center;
        border-radius: 7px 7px 0 0;
        top: 90%;
        left: 8%;
        z-index: 3;
        color: white;
        margin-left: 0;
    }

    .nav-bar > ul {
        flex-direction: column;
        width: 85%;
        padding-bottom: 15px;
        border-bottom: 1px solid hsl(257, 27%, 36%);

    }

    .nav-bar > ul > li {
        padding-bottom: 20px;
    }

    .buttons {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85%;
        margin: 0 auto;
        position: absolute;
        top: 273%;
        left: 8%;
        z-index: 3;
        background-color: hsl(257, 27%, 26%);
        padding-bottom: 15px;
        padding-top: 30px;
        border-radius: 0 0 7px 7px;
    }
    .btn-left{
        padding-bottom: 12px;
        color: white;
    }

    .btn-right{
       margin: 10px auto; 
       width: 10.9rem;
    padding: 9px 5px;
    }

    .burger {
        display: block;
    }

}


@media screen and (min-width: 901px) and (max-width: 1100px){
   .header .buttons {
        margin-right: 50px ;
    }
}